@reference "./globals.css";

.gadient-post {
  @apply flex items-center justify-center text-3xl font-semibold aspect-video bg-foreground text-background text-center;
}
.gadient-post:has(> p) {
  @apply min-h-28;
}
.gradient-1 {
  background: hsl(var(--gradient-1-default));
  background: var(--gradient-1);
  color: hsl(var(--gradient-1-foreground));
}

.gradient-2 {
  background: hsl(var(--gradient-2-default));
  background: var(--gradient-2);
  color: hsl(var(--gradient-2-foreground));
}

.gradient-3 {
  background: hsl(var(--gradient-3-default));
  background: var(--gradient-3);
  color: hsl(var(--gradient-3-foreground));
}

.gradient-4 {
  background: hsl(var(--gradient-4-default));
  background: var(--gradient-4);
  color: hsl(var(--gradient-4-foreground));
  @apply border-input border;
}

.gradient-5 {
  background: hsl(var(--gradient-5-default));
  background: var(--gradient-5);
  color: hsl(var(--gradient-5-foreground));
  @apply border-input border;
}