#? Local postgress
DATABASE_URL="postgres://user:password@localhost:5432/database_name"



INTERNAL_SERVER_SECRET="YOUR_INTERNAL_SERVER_SECRET"

# URL de votre serveur de chat Express
NEXT_PUBLIC_CHAT_SERVER_URL="http://localhost:5000"


# Google OAuth
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"

# Facebook OAuth
FACEBOOK_CLIENT_ID="YOUR_FACEBOOK_CLIENT_ID"
FACEBOOK_CLIENT_SECRET="YOUR_FACEBOOK_CLIENT_SECRET"

# Github OAuth
GITHUB_CLIENT_ID="YOUR_GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="YOUR_GITHUB_CLIENT_SECRET"

# Uploadthings
UPLOADTHING_SECRET="YOUR_UPLOADTHING_SECRET"
NEXT_PUBLIC_UPLOADTHING_APP_ID="YOUR_UPLOADTHING_APP_ID"
UPLOADTHING_TOKEN='YOUR_UPLOADTHING_TOKEN'


# Others
CRON_SECRET="YOUR_CRON_SECRET"
VERIFY_SECRET="YOUR_VERIFY_SECRET"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"


#Cloudinary
CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"

FCM_PROJECT_ID="YOUR_FCM_PROJECT_ID"
FCM_CLIENT_EMAIL="YOUR_FCM_CLIENT_EMAIL"
FCM_PRIVATE_KEY="YOUR_FCM_PRIVATE_KEY"
